In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Salaries.csv')
df.head()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_17344\2429828420.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [3]:
#finding salary cost increase from year 2011 to 2014

df['Year'].value_counts()

Year
2014    38119
2013    37606
2012    36765
2011    36158
Name: count, dtype: int64

In [4]:
sal_yearly = df.groupby('Year')['TotalPay'].sum()
sal_yearly

Year
2011    2.594113e+09
2012    2.724736e+09
2013    2.918656e+09
2014    2.876911e+09
Name: TotalPay, dtype: float64

In [5]:
round(sal_yearly[2014] - sal_yearly[2011],0)

np.float64(282797921.0)

In [6]:
#Finding top earning employee

emp_salary = df.groupby('EmployeeName')['TotalPay'].sum()
emp_salary.sort_values(ascending = False).head(1)

EmployeeName
Kevin Lee    1318767.63
Name: TotalPay, dtype: float64